In [1]:
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import kde
import matplotlib.cm as cm
import seaborn as sns
import math

wbc3842_chr5_pre_impute_file = "./../Downloads/Downloads_old/VTRNA2_COV_FILES/Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5.pickle"
wbc3842_chr5_pre_impute_matrices = pd.read_pickle(wbc3842_chr5_pre_impute_file)

In [2]:
wbc3842_chr5_imputed_cpg2_file = "./../Downloads/Downloads_old/VTRNA2_COV_FILES/Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5_IMPUTED_CPG2.pickle"
wbc3842_chr5_imputed_cpg2 = pd.read_pickle(wbc3842_chr5_imputed_cpg2_file)

In [3]:
wbc3842_chr5_imputed_cpg3_file = "./../Downloads/Downloads_old/VTRNA2_COV_FILES/Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5_IMPUTED_CPG3.pickle"
wbc3842_chr5_imputed_cpg3 = pd.read_pickle(wbc3842_chr5_imputed_cpg3_file)

In [4]:
wbc3842_chr5_imputed_cpg4_file = "./../Downloads/Downloads_old/VTRNA2_COV_FILES/Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5_IMPUTED_CPG4.pickle"
wbc3842_chr5_imputed_cpg4 = pd.read_pickle(wbc3842_chr5_imputed_cpg4_file)

In [5]:
wbc3842_chr5_imputed_cpg5_file = "./../Downloads/Downloads_old/VTRNA2_COV_FILES/Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5_IMPUTED_CPG5.pickle"
wbc3842_chr5_imputed_cpg5 = pd.read_pickle(wbc3842_chr5_imputed_cpg5_file)

In [6]:
print(list(wbc3842_chr5_pre_impute_matrices.keys())[0])

chr5_21600

In [7]:
print(len(list(wbc3842_chr5_pre_impute_matrices.keys())))

600762

In [8]:
wbc3842_chr5_pre_impute_matrices['chr5_22000']

    21919  21964
0     NaN    0.0
1     NaN    0.0
2     1.0    0.0
3     1.0    1.0
4     NaN    1.0
5     NaN    1.0
6     1.0    1.0
7     1.0    0.0
8     1.0    0.0
9     1.0    NaN
10    1.0    NaN
11    1.0    NaN
12    1.0    NaN
13    1.0    NaN
14    NaN    0.0
15    NaN    0.0
16    1.0    0.0
17    NaN    0.0
18    NaN    0.0
19    NaN    0.0
20    1.0    NaN
21    1.0    0.0
22    1.0    0.0
23    1.0    0.0
24    1.0    0.0
25    NaN    0.0
26    NaN    0.0
27    1.0    1.0
28    NaN    0.0
29    1.0    0.0
30    NaN    0.0
31    1.0    0.0
32    NaN    0.0
33    NaN    1.0
34    NaN    1.0
35    1.0    NaN
36    1.0    1.0
37    1.0    0.0
38    1.0    0.0
39    NaN    0.0
40    1.0    0.0
41    NaN    1.0
42    NaN    0.0
43    1.0    0.0
44    1.0    1.0
45    1.0    1.0
46    NaN    0.0
47    NaN    0.0
48    1.0    1.0
49    0.0    0.0

In [9]:
print(list(wbc3842_chr5_imputed_cpg2.keys())[20])

chr5_34800

In [10]:
wbc3842_chr5_imputed_cpg2['chr5_22000']

    21919  21964
0     1.0    0.0
1     1.0    0.0
2     1.0    0.0
3     1.0    1.0
4     1.0    1.0
5     1.0    1.0
6     1.0    1.0
7     1.0    0.0
8     1.0    0.0
9     1.0    NaN
10    1.0    NaN
11    1.0    NaN
12    1.0    NaN
13    1.0    NaN
14    1.0    0.0
15    1.0    0.0
16    1.0    0.0
17    1.0    0.0
18    1.0    0.0
19    1.0    0.0
20    1.0    NaN
21    1.0    0.0
22    1.0    0.0
23    1.0    0.0
24    1.0    0.0
25    1.0    0.0
26    1.0    0.0
27    1.0    1.0
28    1.0    0.0
29    1.0    0.0
30    1.0    0.0
31    1.0    0.0
32    1.0    0.0
33    1.0    1.0
34    1.0    1.0
35    1.0    NaN
36    1.0    1.0
37    1.0    0.0
38    1.0    0.0
39    1.0    0.0
40    1.0    0.0
41    1.0    1.0
42    1.0    0.0
43    1.0    0.0
44    1.0    1.0
45    1.0    1.0
46    1.0    0.0
47    1.0    0.0
48    1.0    1.0
49    0.0    0.0

In [11]:
wbc3842_chr5_imputed_cpg4['chr5_21700']

   21602  21624  21669  21692
0    1.0    1.0    0.0    1.0
1    1.0    1.0    NaN    0.0
2    NaN    NaN    NaN    0.0
3    1.0    1.0    1.0    NaN
4    1.0    1.0    1.0    0.0
5    1.0    1.0    NaN    0.0
6    1.0    1.0    0.0    1.0
7    1.0    1.0    NaN    1.0
8    1.0    1.0    NaN    1.0

In [12]:
wbc3842_chr5_pre_impute_matrices['chr5_21700'] # pre

   21602  21624  21669  21692
0    1.0    1.0    0.0    1.0
1    NaN    NaN    NaN    0.0
2    NaN    NaN    NaN    0.0
3    1.0    1.0    1.0    NaN
4    NaN    1.0    1.0    0.0
5    NaN    NaN    NaN    0.0
6    1.0    1.0    0.0    1.0
7    NaN    NaN    NaN    1.0
8    NaN    NaN    NaN    1.0

In [13]:
def matrices_to_cov(matrix_dictionary):
    headers = ['chromosome','coordinate', 'methylation percentage', 'count methylated', 'count unmethylated', 'total']
    chromosomes = []
    coordinates = []
    methylation_percentages = []
    counts_methylated = []
    counts_unmethylated = []
    totals = []

    for key, value in matrix_dictionary.items():
        cpg_coords = list(value.columns)
        transpose = value.to_numpy().transpose() 
        for i in range(len(cpg_coords)):
            
            chromosomes.append(key.split('_')[0])
            coordinates.append(cpg_coords[i] + 1)
            num_unmethylated = (transpose[i] == 0).sum()
            num_methylated = (transpose[i] == 1).sum()
            methylation_percentages.append(100.0 * num_methylated/(num_methylated + num_unmethylated))
            counts_methylated.append(num_methylated)
            counts_unmethylated.append(num_unmethylated)
            totals.append(num_methylated + num_unmethylated)
        
    
    list_of_tuples = list(zip(chromosomes, coordinates, methylation_percentages, counts_methylated, counts_unmethylated, totals))
    df = pd.DataFrame(list_of_tuples, columns=headers)
    
    return df

**NOTE : Please note that the column "total" means count methylated + count unmethylated.**

In [14]:
wbc3842_chr5_pre_imputation_df = matrices_to_cov(wbc3842_chr5_pre_impute_matrices)
wbc3842_chr5_pre_imputation_df[0:50]

,chromosome,coordinate,methylation percentage,count methylated,count unmethylated,total
0,chr5,21552,100.000000,1,0,1
1,chr5,21558,100.000000,1,0,1
2,chr5,21603,100.000000,3,0,3
3,chr5,21625,100.000000,4,0,4
4,chr5,21670,50.000000,2,2,4
5,chr5,21693,50.000000,4,4,8
6,chr5,21738,93.333333,14,1,15
7,chr5,21761,100.000000,20,0,20
8,chr5,21806,85.000000,17,3,20
9,chr5,21874,80.952381,17,4,21
10,chr5,21891,92.857143,26,2,28
11,chr5,21920,96.551724,28,1,29
12,chr5,21965,27.906977,12,31,43
13,chr5,22009,69.387755,34,15,49
14,chr5,22032,85.185185,46,8,54
15,chr5,22055,65.079365,41,22,63
16,chr5,22099,93.939394,62,4,66
17,chr5,22102,92.424242,61,5,66
18,chr5,22121,84.722222,61,11,72
19,chr5,22144,89.705882,61,7,68
20,chr5,22212,72.000000,54,21,75
21,chr5,22234,62.025316,49,30,79
22,chr5,22256,84.210526,64,12,76
23,chr5,22271,92.405063,73,6,79
24,chr5,22278,83.333333,65,13,78
25,chr5,22346,80.555556,58,14,72
26,chr5,22369,96.875000,62,2,64
27,chr5,22392,81.967213,50,11,61
28,chr5,22415,78.723404,37,10,47
29,chr5,22437,72.500000,29,11,40
30,chr5,22451,0.000000,0,33,33
31,chr5,22460,86.206897,25,4,29
32,chr5,22483,76.000000,19,6,25
33,chr5,22498,95.000000,19,1,20
34,chr5,22505,72.727273,16,6,22
35,chr5,22527,94.444444,17,1,18
36,chr5,22530,93.750000,15,1,16
37,chr5,22549,53.846154,7,6,13
38,chr5,22572,83.333333,5,1,6
39,chr5,22618,80.000000,4,1,5
40,chr5,23409,100.000000,1,0,1
41,chr5,23443,100.000000,2,0,2
42,chr5,23475,100.000000,2,0,2
43,chr5,23521,91.666667,11,1,12
44,chr5,23531,100.000000,13,0,13
45,chr5,23544,84.615385,11,2,13
46,chr5,23557,73.684211,14,5,19
47,chr5,23566,73.684211,14,5,19
48,chr5,23579,84.210526,16,3,19
49,chr5,23588,85.000000,17,3,20

In [15]:
wbc3842_chr5_imputed_cpg2_df = matrices_to_cov(wbc3842_chr5_imputed_cpg2)
wbc3842_chr5_imputed_cpg3_df = matrices_to_cov(wbc3842_chr5_imputed_cpg3)
wbc3842_chr5_imputed_cpg4_df = matrices_to_cov(wbc3842_chr5_imputed_cpg4)
wbc3842_chr5_imputed_cpg5_df = matrices_to_cov(wbc3842_chr5_imputed_cpg5)

In [16]:
# making cpg_index as the index of the df
wbc3842_chr5_pre_imputation_df = wbc3842_chr5_pre_imputation_df.reset_index(drop=True).set_index('coordinate', drop=False)

# making cpg_index as the index of the df as imputed ones are not sorted
wbc3842_chr5_imputed_cpg2_df = wbc3842_chr5_imputed_cpg2_df.reset_index(drop=True).set_index('coordinate', drop=False)
wbc3842_chr5_imputed_cpg2_df.sort_index(inplace=True)

# making cpg_index as the index of the df as imputed ones are not sorted
wbc3842_chr5_imputed_cpg3_df = wbc3842_chr5_imputed_cpg3_df.reset_index(drop=True).set_index('coordinate', drop=False)
wbc3842_chr5_imputed_cpg3_df.sort_index(inplace=True)

# making cpg_index as the index of the df as imputed ones are not sorted
wbc3842_chr5_imputed_cpg4_df = wbc3842_chr5_imputed_cpg4_df.reset_index(drop=True).set_index('coordinate', drop=False)
wbc3842_chr5_imputed_cpg4_df.sort_index(inplace=True)

# making cpg_index as the index of the df as imputed ones are not sorted
wbc3842_chr5_imputed_cpg5_df = wbc3842_chr5_imputed_cpg5_df.reset_index(drop=True).set_index('coordinate', drop=False)
wbc3842_chr5_imputed_cpg5_df.sort_index(inplace=True)

In [17]:
# replacing pre-impute rows with imputed ones if available

wbc3842_chr5_pre_imputation_df.loc[wbc3842_chr5_pre_imputation_df['coordinate'].isin(wbc3842_chr5_imputed_cpg2_df['coordinate']), ['methylation percentage', 'count methylated','count unmethylated', 'total']] = wbc3842_chr5_imputed_cpg2_df[['methylation percentage', 'count methylated','count unmethylated', 'total']]
wbc3842_chr5_pre_imputation_df.loc[wbc3842_chr5_pre_imputation_df['coordinate'].isin(wbc3842_chr5_imputed_cpg3_df['coordinate']), ['methylation percentage', 'count methylated','count unmethylated', 'total']] = wbc3842_chr5_imputed_cpg3_df[['methylation percentage', 'count methylated','count unmethylated', 'total']]
wbc3842_chr5_pre_imputation_df.loc[wbc3842_chr5_pre_imputation_df['coordinate'].isin(wbc3842_chr5_imputed_cpg4_df['coordinate']), ['methylation percentage', 'count methylated','count unmethylated', 'total']] = wbc3842_chr5_imputed_cpg4_df[['methylation percentage', 'count methylated','count unmethylated', 'total']]
wbc3842_chr5_pre_imputation_df.loc[wbc3842_chr5_pre_imputation_df['coordinate'].isin(wbc3842_chr5_imputed_cpg5_df['coordinate']), ['methylation percentage', 'count methylated','count unmethylated', 'total']] = wbc3842_chr5_imputed_cpg5_df[['methylation percentage', 'count methylated','count unmethylated', 'total']]


wbc3842_chr5_replaced = wbc3842_chr5_pre_imputation_df
# df with cpgs having imputed reads replaced 
print(wbc3842_chr5_replaced.isna().sum())
wbc3842_chr5_replaced.head(30)

chromosome                0
coordinate                0
methylation percentage    0
count methylated          0
count unmethylated        0
total                     0
dtype: int64

,chromosome,coordinate,methylation percentage,count methylated,count unmethylated,total
coordinate,,,,,,
21552,chr5,21552,100.000000,1,0,1
21558,chr5,21558,100.000000,1,0,1
21603,chr5,21603,100.000000,8,0,8
21625,chr5,21625,100.000000,8,0,8
21670,chr5,21670,50.000000,2,2,4
21693,chr5,21693,50.000000,4,4,8
21738,chr5,21738,95.000000,19,1,20
21761,chr5,21761,100.000000,20,0,20
21806,chr5,21806,90.000000,27,3,30
21874,chr5,21874,86.206897,25,4,29
21891,chr5,21891,93.750000,30,2,32
21920,chr5,21920,98.000000,49,1,50
21965,chr5,21965,27.906977,12,31,43
22009,chr5,22009,77.272727,51,15,66
22032,chr5,22032,88.888889,64,8,72
22055,chr5,22055,69.863014,51,22,73
22099,chr5,22099,94.736842,72,4,76
22102,chr5,22102,94.047619,79,5,84
22121,chr5,22121,86.904762,73,11,84
22144,chr5,22144,91.764706,78,7,85
22212,chr5,22212,73.417722,58,21,79
22234,chr5,22234,64.285714,54,30,84
22256,chr5,22256,88.000000,88,12,100
22271,chr5,22271,93.939394,93,6,99
22278,chr5,22278,86.734694,85,13,98
22346,chr5,22346,81.333333,61,14,75
22369,chr5,22369,97.297297,72,2,74
22392,chr5,22392,84.722222,61,11,72
22415,chr5,22415,78.723404,37,10,47
22437,chr5,22437,72.500000,29,11,40

In [18]:
sample_cov_df = wbc3842_chr5_replaced[['chromosome', 'coordinate', 'methylation percentage', 'count methylated', 'count unmethylated']]
sample_cov_df["end"] = sample_cov_df ["coordinate"] +1
sample_cov_df = sample_cov_df[['chromosome', 'coordinate', 'end', 'methylation percentage', 'count methylated', 'count unmethylated']]
sample_cov_df.columns = ['chromosome', 'start', 'end', 'methylation percentage', 'count methylated', 'count unmethylated']
sample_cov_df.head(10)

,chromosome,start,end,methylation percentage,count methylated,count unmethylated
coordinate,,,,,,
21552,chr5,21552,21553,100.000000,1,0
21558,chr5,21558,21559,100.000000,1,0
21603,chr5,21603,21604,100.000000,8,0
21625,chr5,21625,21626,100.000000,8,0
21670,chr5,21670,21671,50.000000,2,2
21693,chr5,21693,21694,50.000000,4,4
21738,chr5,21738,21739,95.000000,19,1
21761,chr5,21761,21762,100.000000,20,0
21806,chr5,21806,21807,90.000000,27,3
21874,chr5,21874,21875,86.206897,25,4

In [19]:
sample_cov_df.to_csv("wbc3842_chr5_IMPUTED_coverage.cov", sep='\t', index= False, header=False)