In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import kde
import matplotlib.cm as cm
import seaborn as sns
import math


lung3842_chr1_pre_imputation_matrices = np.load('./Inputs/PReLIM/Bovine/PReLIM.Sample.lung3842_chr1__cord_sorted.bam.chr1.npy', allow_pickle=True)[()]
lung3842_chr1_imputed_cpg2 = np.load('./Inputs/PReLIM/Bovine/PReLIM.Sample.lung3842_chr1__cord_sorted.bam.chr1_IMPUTED_CPG2.npy', allow_pickle=True)[()]
lung3842_chr1_imputed_cpg3 = np.load('./Inputs/PReLIM/Bovine/PReLIM.Sample.lung3842_chr1__cord_sorted.bam.chr1_IMPUTED_CPG3.npy', allow_pickle=True)[()]
lung3842_chr1_imputed_cpg4 = np.load('./Inputs/PReLIM/Bovine/PReLIM.Sample.lung3842_chr1__cord_sorted.bam.chr1_IMPUTED_CPG4.npy', allow_pickle=True)[()]
lung3842_chr1_imputed_cpg5 = np.load('./Inputs/PReLIM/Bovine/PReLIM.Sample.lung3842_chr1__cord_sorted.bam.chr1_IMPUTED_CPG5.npy', allow_pickle=True)[()]



headers = ['cpg_index', 'chromosome','position','end', 'methylation percentage', 'count methylated', 'count unmethylated', 'total']

In [57]:
# <chromosome> <start position> <end position> <methylation percentage> <count methylated> <count unmethylated>
def matrices_to_cov(matrix_dictionary):
    cpg_index = []
    chromosomes = []
    positions = []
    ends = []
    methylation_percentages = []
    counts_methylated = []
    counts_unmethylated = []
    totals = []

    for key, value in matrix_dictionary.items():
        transpose = value.transpose()
        row_index = 0
        for row in transpose:
            cpg_index.append(int(key.split('_')[1]) + row_index)
            chromosomes.append(key.split('_')[0])
            positions.append(key.split('_')[1])
            ends.append(key.split('_')[1])
            num_unmethylated = (row == 0).sum()
            num_methylated = (row == 1).sum()
            methylation_percentages.append(100.0 * num_methylated/(num_methylated + num_unmethylated))
            counts_methylated.append(num_methylated)
            counts_unmethylated.append(num_unmethylated)
            totals.append(len(row))
            row_index+=1
        
    
    list_of_tuples = list(zip(cpg_index, chromosomes, positions, ends, methylation_percentages, counts_methylated, counts_unmethylated, totals))
    df = pd.DataFrame(list_of_tuples, columns=headers)
    
    return df

In [58]:
# pre-impute with all cpgs
lung3842_chr1_pre_imputation_df = matrices_to_cov(lung3842_chr1_pre_imputation_matrices)
#lung3842_chr1_pre_imputation_df[250:300]

In [59]:
lung3842_chr1_pre_imputation_df[350:400]

,cpg_index,chromosome,position,end,methylation percentage,count methylated,count unmethylated,total
350,43102,chr1,43100,43100,33.333333,1,2,3
351,43200,chr1,43200,43200,100.000000,3,0,3
352,43201,chr1,43200,43200,100.000000,1,0,3
353,43300,chr1,43300,43300,0.000000,0,2,3
354,43301,chr1,43300,43300,50.000000,1,1,3
355,43302,chr1,43300,43300,66.666667,2,1,3
356,43400,chr1,43400,43400,50.000000,1,1,2
357,43401,chr1,43400,43400,100.000000,2,0,2
358,43402,chr1,43400,43400,100.000000,1,0,2
359,43600,chr1,43600,43600,100.000000,1,0,1
360,43900,chr1,43900,43900,100.000000,1,0,1
361,43901,chr1,43900,43900,100.000000,1,0,1
362,43902,chr1,43900,43900,100.000000,1,0,1
363,44000,chr1,44000,44000,100.000000,1,0,1
364,44001,chr1,44000,44000,0.000000,0,1,1
365,44002,chr1,44000,44000,0.000000,0,1,1
366,44003,chr1,44000,44000,0.000000,0,1,1
367,44004,chr1,44000,44000,0.000000,0,1,1
368,44500,chr1,44500,44500,100.000000,2,0,2
369,44501,chr1,44500,44500,100.000000,2,0,2
370,44600,chr1,44600,44600,0.000000,0,2,2
371,44601,chr1,44600,44600,100.000000,2,0,2
372,44602,chr1,44600,44600,100.000000,2,0,2
373,44603,chr1,44600,44600,100.000000,2,0,2
374,44700,chr1,44700,44700,100.000000,2,0,2
375,45000,chr1,45000,45000,100.000000,1,0,1
376,45001,chr1,45000,45000,100.000000,1,0,1
377,45002,chr1,45000,45000,100.000000,1,0,1
378,45003,chr1,45000,45000,100.000000,1,0,1
379,45100,chr1,45100,45100,100.000000,1,0,1
380,45101,chr1,45100,45100,100.000000,1,0,1
381,45102,chr1,45100,45100,0.000000,0,1,1
382,45103,chr1,45100,45100,0.000000,0,1,1
383,45104,chr1,45100,45100,0.000000,0,1,1
384,45200,chr1,45200,45200,100.000000,1,0,1
385,45201,chr1,45200,45200,100.000000,1,0,1
386,45202,chr1,45200,45200,100.000000,1,0,1
387,45203,chr1,45200,45200,100.000000,1,0,1
388,45300,chr1,45300,45300,0.000000,0,1,1
389,45301,chr1,45300,45300,100.000000,1,0,1
390,45302,chr1,45300,45300,100.000000,1,0,1
391,45400,chr1,45400,45400,33.333333,1,2,3
392,45401,chr1,45400,45400,100.000000,3,0,3
393,45402,chr1,45400,45400,66.666667,2,1,3
394,45500,chr1,45500,45500,25.000000,1,3,4
395,45600,chr1,45600,45600,83.333333,5,1,7
396,45601,chr1,45600,45600,100.000000,6,0,7
397,45602,chr1,45600,45600,16.666667,1,5,7
398,45603,chr1,45600,45600,33.333333,2,4,7
399,45700,chr1,45700,45700,80.000000,4,1,6

In [60]:
# imputed with 2 cpgs
lung3842_chr1_imputed_cpg2_df = matrices_to_cov(lung3842_chr1_imputed_cpg2)
lung3842_chr1_imputed_cpg2_df[50:70]

,cpg_index,chromosome,position,end,methylation percentage,count methylated,count unmethylated,total
50,45700,chr1,45700,45700,83.333333,5,1,6
51,45701,chr1,45700,45700,60.000000,3,2,6
52,47100,chr1,47100,47100,0.000000,0,1,1
53,47101,chr1,47100,47100,0.000000,0,1,1
54,47500,chr1,47500,47500,100.000000,1,0,1
55,47501,chr1,47500,47500,100.000000,1,0,1
56,48100,chr1,48100,48100,100.000000,1,0,1
57,48101,chr1,48100,48100,0.000000,0,1,1
58,53400,chr1,53400,53400,100.000000,1,0,1
59,53401,chr1,53400,53400,100.000000,1,0,1
60,53500,chr1,53500,53500,100.000000,1,0,1
61,53501,chr1,53500,53500,100.000000,1,0,1
62,62200,chr1,62200,62200,0.000000,0,1,1
63,62201,chr1,62200,62200,100.000000,1,0,1
64,62300,chr1,62300,62300,100.000000,1,0,1
65,62301,chr1,62300,62300,100.000000,1,0,1
66,62400,chr1,62400,62400,0.000000,0,1,1
67,62401,chr1,62400,62400,100.000000,1,0,1
68,62500,chr1,62500,62500,0.000000,0,1,1
69,62501,chr1,62500,62500,0.000000,0,1,1

In [61]:
# imputed with 3 cpgs
lung3842_chr1_imputed_cpg3_df = matrices_to_cov(lung3842_chr1_imputed_cpg3)
lung3842_chr1_imputed_cpg3_df.head()

,cpg_index,chromosome,position,end,methylation percentage,count methylated,count unmethylated,total
0,19600,chr1,19600,19600,100.0,1,0,1
1,19601,chr1,19600,19600,0.0,0,1,1
2,19602,chr1,19600,19600,0.0,0,1,1
3,19800,chr1,19800,19800,0.0,0,1,1
4,19801,chr1,19800,19800,0.0,0,1,1

In [62]:
# imputed with 4 cpgs
lung3842_chr1_imputed_cpg4_df = matrices_to_cov(lung3842_chr1_imputed_cpg4)
lung3842_chr1_imputed_cpg4_df.head()

,cpg_index,chromosome,position,end,methylation percentage,count methylated,count unmethylated,total
0,19700,chr1,19700,19700,0.0,0,1,1
1,19701,chr1,19700,19700,0.0,0,1,1
2,19702,chr1,19700,19700,0.0,0,1,1
3,19703,chr1,19700,19700,0.0,0,1,1
4,20300,chr1,20300,20300,100.0,2,0,2

In [63]:
# imputed with 5 cpgs
lung3842_chr1_imputed_cpg5_df = matrices_to_cov(lung3842_chr1_imputed_cpg5)
lung3842_chr1_imputed_cpg5_df.head()

,cpg_index,chromosome,position,end,methylation percentage,count methylated,count unmethylated,total
0,29700,chr1,29700,29700,57.142857,4,3,7
1,29701,chr1,29700,29700,85.714286,6,1,7
2,29702,chr1,29700,29700,71.428571,5,2,7
3,29703,chr1,29700,29700,100.000000,7,0,7
4,29704,chr1,29700,29700,71.428571,5,2,7

In [65]:
# replacing pre-impute rows with imputed ones if available
lung3842_chr1_pre_imputation_df.loc[lung3842_chr1_pre_imputation_df['cpg_index'].isin(lung3842_chr1_imputed_cpg2_df['cpg_index']), ['methylation percentage', 'count methylated','count unmethylated', 'total']] = lung3842_chr1_imputed_cpg2_df[['methylation percentage', 'count methylated','count unmethylated', 'total']]
lung3842_chr1_pre_imputation_df.loc[lung3842_chr1_pre_imputation_df['cpg_index'].isin(lung3842_chr1_imputed_cpg3_df['cpg_index']), ['methylation percentage', 'count methylated','count unmethylated', 'total']] = lung3842_chr1_imputed_cpg3_df[['methylation percentage', 'count methylated','count unmethylated', 'total']]
lung3842_chr1_pre_imputation_df.loc[lung3842_chr1_pre_imputation_df['cpg_index'].isin(lung3842_chr1_imputed_cpg4_df['cpg_index']), ['methylation percentage', 'count methylated','count unmethylated', 'total']] = lung3842_chr1_imputed_cpg4_df[['methylation percentage', 'count methylated','count unmethylated', 'total']]
lung3842_chr1_pre_imputation_df.loc[lung3842_chr1_pre_imputation_df['cpg_index'].isin(lung3842_chr1_imputed_cpg5_df['cpg_index']), ['methylation percentage', 'count methylated','count unmethylated', 'total']] = lung3842_chr1_imputed_cpg5_df[['methylation percentage', 'count methylated','count unmethylated', 'total']]


lung3842_chr1_df_replaced = lung3842_chr1_pre_imputation_df
# df with cpgs having imputed reads replaced 
lung3842_chr1_df_replaced.head(30)

,cpg_index,chromosome,position,end,methylation percentage,count methylated,count unmethylated,total
0,19600,chr1,19600,19600,100.0,1.0,0.0,1.0
1,19601,chr1,19600,19600,0.0,0.0,1.0,1.0
2,19602,chr1,19600,19600,0.0,0.0,1.0,1.0
3,19700,chr1,19700,19700,0.0,0.0,1.0,1.0
4,19701,chr1,19700,19700,100.0,2.0,0.0,2.0
5,19702,chr1,19700,19700,0.0,0.0,1.0,2.0
6,19703,chr1,19700,19700,0.0,0.0,1.0,2.0
7,19800,chr1,19800,19800,0.0,0.0,1.0,1.0
8,19801,chr1,19800,19800,100.0,1.0,0.0,1.0
9,19802,chr1,19800,19800,0.0,0.0,1.0,1.0
10,20100,chr1,20100,20100,0.0,0.0,1.0,2.0
11,20101,chr1,20100,20100,50.0,1.0,1.0,2.0
12,20200,chr1,20200,20200,50.0,1.0,1.0,3.0
13,20201,chr1,20200,20200,0.0,0.0,2.0,3.0
14,20300,chr1,20300,20300,100.0,1.0,0.0,1.0
15,20301,chr1,20300,20300,100.0,1.0,0.0,1.0
16,20302,chr1,20300,20300,100.0,2.0,0.0,2.0
17,20303,chr1,20300,20300,100.0,2.0,0.0,2.0
18,25600,chr1,25600,25600,0.0,0.0,1.0,2.0
19,25601,chr1,25600,25600,100.0,2.0,0.0,2.0
20,25602,chr1,25600,25600,100.0,1.0,0.0,1.0
21,25603,chr1,25600,25600,0.0,0.0,1.0,1.0
22,25700,chr1,25700,25700,0.0,0.0,1.0,1.0
23,25701,chr1,25700,25700,0.0,0.0,1.0,1.0
24,25702,chr1,25700,25700,50.0,1.0,1.0,2.0
25,26800,chr1,26800,26800,50.0,1.0,1.0,2.0
26,26801,chr1,26800,26800,50.0,1.0,1.0,2.0
27,26802,chr1,26800,26800,50.0,1.0,1.0,2.0
28,26900,chr1,26900,26900,100.0,2.0,0.0,2.0
29,26901,chr1,26900,26900,100.0,2.0,0.0,2.0

In [67]:
# This might have rows with same 'end' (and 'position') because PReLIM provides matrices based on bins. So each bin
# can have multiple CpGs. All the CpGs within the same bin has same 'end' (and 'position').
sample_cov_df = lung3842_chr1_df_replaced[['chromosome', 'position', 'end', 'methylation percentage', 'count methylated', 'count unmethylated']]
sample_cov_df.head()

,chromosome,position,end,methylation percentage,count methylated,count unmethylated
0,chr1,19600,19600,100.0,1.0,0.0
1,chr1,19600,19600,0.0,0.0,1.0
2,chr1,19600,19600,0.0,0.0,1.0
3,chr1,19700,19700,0.0,0.0,1.0
4,chr1,19700,19700,100.0,2.0,0.0